version: '3.9'

services:
  # ------------------------
  # MySQL Users
  # ------------------------
  db_users:
    image: mysql:8.0
    container_name: db_users
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_USERS_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_USERS_DB}
      MYSQL_USER: ${MYSQL_USERS_USER}
      MYSQL_PASSWORD: ${MYSQL_USERS_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - db_users_data:/var/lib/mysql
    networks:
      - snelnet

  # ------------------------
  # MySQL Courses
  # ------------------------
  db_courses:
    image: mysql:8.0
    container_name: db_courses
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_COURSES_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_COURSES_DB}
      MYSQL_USER: ${MYSQL_COURSES_USER}
      MYSQL_PASSWORD: ${MYSQL_COURSES_PASSWORD}
    ports:
      - "3308:3306"
    volumes:
      - db_courses_data:/var/lib/mysql
    networks:
      - snelnet

  # ------------------------
  # User Service (Node)
  # ------------------------
  user_service:
    build: ./user_service
    container_name: user_service
    restart: always
    env_file: ./user_service/.env
    depends_on:
      - db_users
    ports:
      - "3000:3000"
    networks:
      - snelnet

  # ------------------------
  # Course Service (Node)
  # ------------------------
  course_service:
    build: ./course_service
    container_name: course_service
    restart: always
    env_file: ./course_service/.env
    depends_on:
      - db_courses
    ports:
      - "8000:8000"
    networks:
      - snelnet

networks:
  snelnet:

volumes:
  db_users_data:
  db_courses_data:
